.index-wrapper {
    background-color: #f2f1f6;
    margin-bottom: 150rpx;

    .body {
        width: 100%;
        padding: 16rpx 20rpx;
        position: relative;
        z-index: 2;

        // padding-top: 20rpx;
        .top-title {
            margin-top: 20rpx;
            font-size: 36rpx;
            border-bottom: 2rpx solid #fff;
            height: 60rpx;
        }

        .tips {
            margin-top: 16rpx;
            padding-top: 12rpx;
        }

        .box1 {
            border-radius: 10rpx;
            margin-top: 16rpx;
            margin-bottom: 0rpx;
            background-color: #fff;


            .title-panel {
                // padding-top: 30rpx;
                padding-left: 40rpx;
                display: flex;
                justify-content: space-between;
                font-size: 36rpx;
                height: 100rpx;
                align-items: center;
                // color: #2a9fec;
                // border-bottom: 4rpx solid rgba(209, 209, 209, 0.8);
                border-bottom: 2rpx solid $rcyj-bg-color-primary;
                .content{
                    display: flex;
                    align-items: center;
                    .logo{
                        width: 50rpx;
                        height: 50rpx;
                        background-color: blue;
                        margin-right: 10rpx;
                    }
                }

                .img-more {
                    width: 20rpx;
                    height: 30rpx;
                    margin-right: 30rpx;
                    margin-top: 10rpx;
                    color: #fff;
                }
            }

            .content-panel {
                // margin-top: 20rpx;
                display: flex;
                flex-wrap: wrap;

                // justify-content: left;
                // padding-left: 40rpx;
                .cbtn {
                    width: 264rpx;
                    height: 100rpx;
                    background-color: #2c6ced;
                    margin-bottom: 20rpx;
                    margin-right: 20rpx;
                    border-radius: 10rpx;

                    font-size: 30rpx;
                    color: #fff;
                    text-align: center;
                    line-height: 100rpx;
                }

                .r {
                    height: 70rpx;
                    line-height: 70rpx;
                }

                .home {
                    margin: 20rpx auto;

                    swiper {
                        width: 690rpx;
                        height: 323rpx;

                        image {
                            border-radius: 10rpx;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .text-panel {
                    // padding-left: 0rpx;
                    // padding-right: 20rpx;
                    // margin: 0 40rpx;
                    padding-bottom: 50rpx;
                    margin: 20rpx 40rpx;

                    .text {
                        font-size: 26rpx;
                        text-align: left;
                        // margin-top: 20rpx;
                        text-decoration: underline;
                    }

                    .intro-text {
                        // display: flex;
                        //  justify-content:center;
                        font-size: 26rpx;
                        // margin: 20rpx 30rpx;
                        // margin-right: 50rpx;
                        line-height: 50rpx;
                        text-align: left;
                    }
                }

                .teamadd {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin: 80rpx 40rpx;
                    text-align: center;
                    // color: #c0c0c0;
                    align-items: center;

                    .addimg {
                        width: 48rpx;
                        height: 48rpx;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .content {
                        width: 200rpx;

                    }
                }

                img {
                    border-radius: 10rpx;
                    width: 650rpx;
                }
            }

            .rank-panel {
                margin: 00rpx 40rpx 0rpx;
                width: 100%;

                .points-title {
                    display: flex;
                    justify-content: space-between;

                    .content {
                        display: flex;
                        margin: 20rpx 0;
                        justify-content: space-between;

                        .points-img {
                            margin-top: 6rpx;
                            width: 30rpx;
                            height: 30rpx;
                            margin-right: 10rpx;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                }

                .rank-list-title {
                    display: flex;
                    height: 80rpx;
                    // background-color: red;
                    justify-content: space-between;
                    line-height: 80rpx;
                    text-align: left;
                    font-size: 26rpx;
                    // font-weight: bold;
                }

                .scroll_box {
                    margin: 20rpx 0rpx 0rpx;
                    padding-bottom: 50rpx;

                    .swiper {
                        .swiper-l {
                            display: flex;
                            justify-content: space-between;

                            .swiper-item {
                                text-align: left;
                                font-size: 26rpx;
                                width: 150rpx;
                            }
                        }
                    }
                }
            }

        }

        .bg {
            background-image: url(https://youjiaplatform.oss-cn-hangzhou.aliyuncs.com/20220617/box2.png);
            background-repeat: no-repeat;
            background-size: cover;
            // box-shadow: 5px 5px 50px #b6b6b6;
        }

        .h {
            height: 400rpx;
        }

        .h1 {
            height: 520rpx;
        }

        .bottom {
            margin-bottom: 150rpx;
        }

        .h2 {
            // height: 250rpx;
        }

        .shadowb {
            // margin-top: 016rpx;
            box-shadow: 5px 5px 20px #dfe4e7;
        }
    }
}