@keyframes rotate360 {
    100% {
        transform: rotate(720deg);
    }
}
@keyframes rotate{
    0%{-webkit-transform:rotate(0deg);}
    25%{-webkit-transform:rotate(90deg);}
    50%{-webkit-transform:rotate(180deg);}
    75%{-webkit-transform:rotate(270deg);}
    100%{-webkit-transform:rotate(360deg);}
}
.rotate360 {
    animation: rotate360 .5s ease-out 0s;
}
.index-wrapper {
    // min-height: 100vh;
    // background-color: #1D1E1F;

    .body {
        // background-image:url(/static/images/shouye.jpg) ; 
        width: 100%;
        // height: 1624rpx;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 30rpx 20rpx;
        position: relative;
        z-index: 2;
        // padding-top: 20rpx;

        .top-bg {
            // width: 690rpx;
            height: 222rpx;
            border-radius: 10rpx;
            background-image: linear-gradient(#3977f6, #7ebafa);
            background-color: #3977f6;
            display: flex;

            .avator {
                width: 140rpx;
                height: 140rpx;
                border-radius: 12rpx;
                margin-top: 40rpx;
                margin-left: 32rpx;
                // //background-image: url(/static/images/index/avator.png);
                background-repeat: no-repeat;
                background-size: cover;
            }

            .name-bg {
                display: flex;
                padding-left: 30rpx;
                padding-top: 60rpx;

                .name {
                    font-size: 36rpx;
                    color: #fff;
                }

                .perbtn {
                    width: 130rpx;
                    height: 40rpx;
                    border-radius: 18rpx;
                    background-color: #fff;
                    margin-left: 20rpx;
                    margin-top: 6rpx;
                    font-size: 24rpx;
                    text-align: center;
                    line-height: 40rpx;
                    color: #07469b;
                }
            }

            .level-bg {
                padding-left: 30rpx;
                padding-top: 10rpx;

                p {
                    font-size: 26rpx;
                    color: #fff;
                }
            }

            .qrcode {
                margin-top: 60rpx;
                width: 50rpx;
                height: 50rpx;
                border-radius: 12rpx;
                background-color: #fff;
                margin-left: 180rpx;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 80%;
                    height: 80%;
                }
            }
        }

        .center-btn {
            width: 426rpx;
            height: 426rpx;
            margin: 0rpx auto;
            background-image: url(/static/images/index/3.0圆身价评估@2x.png);
            background-repeat: no-repeat;
            background-size: contain;

            .box1 {
                height: 1rpx;
            }

            .ring {
                width: 326rpx;
                height: 326rpx;
                margin: 38rpx auto;
                // background-image: url(/static/images/index/ring.png);
                // background-repeat: no-repeat;
                // background-size: cover;
                // margin-top: 38rpx;
                
                .cbtn {
                    // display: flex;
                    // flex-direction: column;
                    padding-top: 100rpx;
                    line-height: 60rpx;
                    color: #fff;
                    text-align: center;

                    transform:rotate3d(0,0,1,360deg);
                    animation: access1 30s infinite linear;
                    // @keyframes access1 {
                    //   0% {
                    //     transform: rotate3d(0,0,1,360deg);
                    //   }
                    //   to {
                    //     transform: rotate3d(0,0,0,0);
                    //   }
                    // }

                    .p1 {}

                    .p2 {
                        font-size: 36rpx;
                    }
                }
            }
            // .ring:hover{
            //     animation: rotate360 .5s ease-out 0s;
            // }
            .ring::before {
                content: "";
                position: absolute;
                width: 326rpx;
                height: 326rpx;
                background-image: url(/static/images/index/ring.png);
                background-repeat: no-repeat;
                background-size: cover;
                -webkit-transition-property: -webkit-transform;
                -webkit-transition-duration: 10s;
                -moz-transition-property: -moz-transform;
                -moz-transition-duration: 10s;
                -webkit-animation: rotate 10s linear infinite;
                -moz-animation: rotate 10s linear infinite;
                -o-animation: rotate 10s linear infinite;
                animation: rotate 1s linear infinite;
                }
        }

        .per {
            color: #77797b;
            text-align: center;
            font-size: 28rpx;
        }

        .btn-box1 {
            margin: 14rpx 50rpx;
            display: flex;
            justify-content: space-around;

            .box1 {
                width: 130rpx;
                height: 130rpx;

                img {
                    width: 100%;
                    height: 100%;
                }

                p {
                    font-size: 28rpx;
                    text-align: center;
                }
            }
        }
        .search-box{
            .cbtn{
                margin: 30rpx auto;
                width: 300rpx;
                height: 100rpx;
                background-color: #2c6ced;
                border-radius: 10rpx;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .btn-box2 {
            margin: 60rpx 50rpx 13rpx;

            .box {
                // margin: 16rpx auto;
                background-color: #fff;
                // width: 600rpx;
                height: 86rpx;
                display: flex;
                margin-top: 18rpx;

                img {
                    padding-top: 25rpx;
                    padding-left: 30rpx;
                    padding-right: 26rpx;
                    width: 36rpx;
                    height: 36rpx;
                }

                p {
                    line-height: 90rpx;
                }

            }
        }

        .slide-panel {
            height: 200rpx;
            // background-color: #77b3fe;
            border-radius: 10rpx;
            background-image: url(/static/images/index/indexCc.png);
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            position: fixed;
            width: 690rpx;
            bottom: 100rpx;
            img {
                margin-top: 50rpx;
                // width: 144rpx;
                height: 76rpx;
            }
        }
    }

    .index-top-bg {
        width: 100%;
        height: 590rpx;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0 40rpx;
        position: relative;
        z-index: 2;

        .top-bg {
            // width: 690rpx;
            height: 200rpx;
            border-radius: 16rpx;
            // background-image: linear-gradient(#3977f6,#7ebafa);
            // background-color: #3977f6;
            display: flex;

            .avator {
                width: 140rpx;
                height: 140rpx;
                border-radius: 12rpx;
                margin-top: 6rpx;
                margin-left: 32rpx;
                background-color: rgb(250, 23, 23);
            }

            .name-bg {
                display: flex;
                padding-left: 30rpx;
                padding-top: 30rpx;

                .name {
                    font-size: 36rpx;
                    color: #fff;
                }

                .perbtn {
                    width: 150rpx;
                    height: 50rpx;
                    border-radius: 18rpx;
                    background-color: #929292;
                    margin-left: 10rpx;
                    // margin-top: 10rpx;
                    font-size: 28rpx;
                    text-align: center;
                    line-height: 50rpx;
                    color: #fff;
                }
            }

            .level-bg {
                padding-left: 30rpx;
                padding-top: 10rpx;

                p {
                    font-size: 26rpx;
                    color: #fff;
                }
            }

            .qrcode {
                width: 50rpx;
                height: 50rpx;
                border-radius: 12rpx;
                background-color: #fff;
                margin-left: 180rpx;
            }
        }

        .personal-center-inlet {
            margin: 120rpx 15rpx 73rpx;
            display: inline-block;

            image {
                width: 50rpx;
                margin-bottom: 8rpx;
            }

            .no-login {
                background: #F6DEB0;
                border-radius: 10rpx;
                color: #A26E15;
                font-size: 20rpx;
                margin-left: -62rpx;
                padding: 2rpx 8rpx;
            }
        }

        .score {
            justify-content: center;
            margin-bottom: 32rpx;
            text-align: center;
            color: #fff;
            font-size: 24rpx;
            font-weight: 500;

            .count {
                font-family: Arial;
                font-weight: bold;
                color: #FFDF9E;
                padding-right: 36rpx;
                padding-left: 40rpx;
            }
        }

        .score-tit-box {
            justify-content: center;
            width: 208rpx;
            height: 49rpx;
            background: rgba(254, 246, 246, 0.15);
            border-radius: 0px 16rpx 0px 16rpx;
            text-align: center;
            color: #fff;
            font-size: 22rpx;
            font-weight: 400;
            margin: 0 auto 53rpx;

            image {
                width: 34rpx;
                margin-right: 7rpx;
            }
        }

        .btn {
            width: 330rpx;
            margin: 0 auto 26rpx;
        }

        .line {
            width: 100%;
            height: 1px;
            background-color: rgba(254, 246, 246, 0.1);
        }

    }

    .census {
        padding: 35rpx 75rpx;

        .census-icon {

            image {
                width: 28rpx;
                margin-right: 27rpx;
            }

            text {
                color: #fff;
                font-size: 24rpx;
            }
        }
    }

    .modules {
        padding: 0 40rpx;

        .item {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 176rpx;
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: 30rpx;

            .img-tit {
                justify-content: center;
                color: #fff;
                font-size: 32rpx;
                margin-bottom: 26rpx;

                image {
                    width: 48rpx;
                    height: 48rpx;
                    margin-right: 33rpx;
                }
            }

            .info {
                color: #9094A0;
                font-size: 24rpx;
            }
        }
    }

    .vote {
        padding: 30rpx 40rpx 90rpx;

        .title {
            padding-bottom: 50rpx;
            color: #fff;
            font-size: 30rpx;
            text-align: center;

            text {
                font-size: 36rpx;
            }
        }

        .vote-box {
            position: relative;
            width: 100%;
            height: 129rpx;
            background: #2B2C30;
            border-radius: 20rpx 0px 20rpx 20rpx;

            .deny {
                flex-direction: column;
                justify-content: center;
                width: 298rpx;
                height: 128rpx;
                background-repeat: no-repeat;
                background-size: cover;

                .tit {
                    color: #fff;
                    font-size: 30rpx;
                    font-weight: bold;
                    padding-bottom: 20rpx;
                }

                .num {
                    color: #9094A0;
                    font-size: 26rpx;
                    font-weight: 500;
                }
            }

            .approve-bg {
                flex: 1;
                position: relative;
                border-radius: 20rpx;
                margin-top: -25rpx;
                overflow: hidden;

                .approve {
                    position: relative;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    height: 153rpx;
                    background-repeat: no-repeat;
                    background-size: cover;
                    z-index: 2;

                    .tit {
                        color: #A26E15;
                        font-size: 42rpx;
                        font-weight: bold;
                        margin-bottom: 15rpx;

                        image {
                            width: 31rpx;
                            height: 39rpx;
                            margin-right: 14rpx;
                        }
                    }

                    .num {
                        color: #A26E15;
                        font-size: 26rpx;
                        font-weight: 500;
                    }
                }

                .stripes {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    height: 153rpx;
                    background: linear-gradient(-86.19999999999999deg, #C99E54 0%, #F6DEB0 100%);
                    border-radius: 20rpx;
                    transform: skewX(-25deg);
                    transform-origin: 0 100%;
                    z-index: 1;
                }
            }

            .vs {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 3;

                image {
                    width: 115rpx;
                    height: 73rpx;
                }
            }
        }
    }

}

.u-mode-center-box {
    background-color: transparent !important;
}

.unscramble-wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;

    image {
        width: 100%;
    }

    .unscramble-img {
        position: relative;
        width: 100%;
        height: 495rpx;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
    }

    .unscramble-info-box {
        position: relative;
        margin: -180rpx 42rpx 57rpx;
        padding: 50rpx 60rpx;
        background-color: #fff;
        box-shadow: 0px 3rpx 20rpx 0px rgba(0, 0, 0, 0.1);
        border-radius: 25rpx;
        color: #1D1E1F;
        font-size: 28rpx;
        line-height: 47rpx;
        z-index: 10;
    }

    .unscramble2 {
        margin: 0 42rpx;
        padding-bottom: 70rpx;

        image {
            width: 100%;
        }
    }
}