.index-wrapper {
    // min-height: 100vh;
    // background-color: #1D1E1F;
    padding-bottom: 60rpx;

    .body {
        // background-image:url(/static/images/shouye.jpg) ; 
        width: 100%;
        // height: 1624rpx;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 16rpx 20rpx;
        position: relative;
        z-index: 2;
        // padding-top: 20rpx;

        .fun-bg {
            display: flex;
            justify-content: space-between;
            // margin-top: 16rpx;
            // padding: 0 30rpx;
            .btn1 {
                border-radius: 16rpx;
 
                height: 130rpx;
                min-width: 330rpx;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 5rpx 5rpx 5rpx #dfe4e7;
                border:0rpx;
                .p1 {
                    font-size: 30rpx;
                    color: #030303;
                }
                .img-l{
                    width: 30rpx;
                    height: 30rpx;
                    margin-right: 10rpx;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .long {
                width: 100%;
                background-color: #fff;
                box-shadow: 5rpx 5rpx 5rpx #dfe4e7;
            }

            .redbg {
                background-color: #ee2727;
                color: #fff;

                .p1 {
                    font-size: 30rpx;
                    color: #fff;
                }
            }

        }
        .img-wrap {
            margin: 16rpx auto;
            background-color: #fff;
            // border-radius: 20rpx;
            height: 520rpx;
            
            img {
                width: 100%;
                height: 100%;
            }
        }

        // .btn{        

        //     border-radius: 64rpx;
        //     height: 89rpx;
        //     width: 264rpx;
        //     // min-width: 330rpx;
        //     background-image: linear-gradient(to bottom, #15d0ca,#33c6d8 ,#3882fd);
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     // box-shadow: 10rpx 10rpx 10rpx #dfe4e7, -10rpx -10rpx 10rpx #fff;
        //     font-size: 32rpx;
        //     color: #fff;

        // }

    }
}