.index-wrapper {
    background-color: #f2f1f6;
    margin-bottom: 150rpx;

    .body {
        width: 100%;
        padding: 0 20rpx;
        position: relative;
        z-index: 2;
        padding-top: 16rpx;

        .tips {
            margin-top: 20rpx;
            padding-top: 12rpx;
        }
        .bgw{
            background-color: #fff;
        }

        .box1 {
            border-radius: 10rpx;
            // margin-top: 10rpx;
            // background-color: blue;        

         
            .title-panel {
                padding-top: 30rpx;
                padding-left: 40rpx;
                display: flex;
                justify-content: space-between;
                font-size: 36rpx;
                height: 100rpx;
                // color: #2a9fec;
                // border-bottom: 4rpx solid rgba(209, 209, 209, 0.8);
                 border-bottom: 2rpx solid $rcyj-bg-color-primary;

                img {
                    width: 40rpx;
                    height: 40rpx;
                    margin-right: 30rpx;
                    margin-top: 5rpx;
                    // color: #2a9fec;
                }
            }

            .content-panel {
                margin: 16rpx 30rpx;

                
                .dataTable{
                  padding: 10rpx;
                  width: 100%;
                  height: 100%;
                  &-canvas {
                    &-title {
                      padding: 20rpx 0rpx;
                      > text {
                        padding-left: 20rpx;
                        width: 100%;
                        height: 100%;
                        font-size: 32rpx;
                        font-weight: 550;
                        line-height: 32rpx;
                        border-left: 10rpx solid #28b5b1;
                      }
                    }
                    #myEcharts {
                      width: 100%;
                      height: 600rpx;
                    }
                  }
                }
                
                .cbtn {
                    width: 264rpx;
                    height: 100rpx;
                    background-color: #2c6ced;
                    margin-bottom: 20rpx;
                    margin-right: 20rpx;
                    border-radius: 10rpx;

                    font-size: 30rpx;
                    color: #fff;
                    text-align: center;
                    line-height: 100rpx;
                }

                .r {
                    height: 70rpx;
                    line-height: 70rpx;
                }

                .home {
                    margin: 20rpx auto;

                    swiper {
                        width: 690rpx;
                        height: 323rpx;

                        image {
                            border-radius: 10rpx;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .tr {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    height: 3rem;
                    align-items: center;
                }

                .td {
                    width: 40%;
                    justify-content: center;
                    text-align: center;
                }

                .bg-w {
                    background: snow;
                }

                .bg-g {
                    background: #E6F3F9;
                }

                .th {
                    width: 40%;
                    justify-content: center;
                    // background: #3366FF;
                    color: rgb(0, 0, 0);
                    display: flex;
                    height: 3rem;
                    align-items: center;
                }

                .text-title {
                    font-size: 26rpx;
                    display: flex;
                    justify-content: space-around;
                }

                .text-panel {
                    padding-bottom: 50rpx;


                    .text {

                        font-size: 26rpx;
                        text-align: center;
                        margin-top: 20rpx;
                        // text-decoration: underline;
                    }

                    .intro-text {
                        display: flex;
                         justify-content:center;
                        font-size: 26rpx;
                        margin-top: 20rpx;
                        // margin-right: 50rpx;
                        line-height: 40rpx;
                    }
                }

                img {
                    border-radius: 10rpx;
                    width: 650rpx;
                }
            }
        }

        .bg {
            background-image: url(https://youjiaplatform.oss-cn-hangzhou.aliyuncs.com/20220617/box4.png);
            background-repeat: no-repeat;
            background-size: cover;
            // box-shadow: 5px 5px 50px #b6b6b6;
        }

        .h {
            height: 400rpx;
        }

        .h1 {
            height: 520rpx;
        }

        .bottom {
            margin-bottom: 150rpx;
        }

        .h2 {
            // height: 250rpx;
        }

        .shadowb {
            margin-top: 16rpx;
            box-shadow: 5px 5px 20px #dfe4e7;
        }
    }
}