.index-wrapper {
    // min-height: 100vh;
    // background-color: #1D1E1F;

    .body {
        // background-image:url(/static/images/shouye.jpg) ; 
        width: 100%;
        // height: 1624rpx;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 16rpx 20rpx;
        position: relative;
        z-index: 2;
        // padding-top: 20rpx;

        

        .box-panel {
            // background-color: #fff;
            margin-top: 16rpx;

            // height: 50rpx;
            .data-form-content {
                background-color: #fff;
                border-radius: 10rpx;
                padding: 10rpx 40rpx;

                .addbtn{
                    margin: 40rpx auto 80rpx;
                    width: 44rpx;
                    height: 30rpx;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .title{
                    margin: 40rpx auto 10rpx;
                    text-align: center;
                    font-size: 30rpx;
                }

                .check-radio-img {
                    width: 35rpx;
                }

                .agree-title {
                    color: #003e8d;
                    font-size: 28rpx;

                    .agree {
                        color: #21BA80;
                    }
                }
            }

            .in-box {
                // background-color: #fff;  
                padding: 20rpx 0;
                border-bottom: 1px solid rgba(44, 108, 237, 0.8);
                color: #003e8d;
                font-size: 30rpx;
                margin-bottom: 15rpx;

                
                .select-group {
                    height: 64rpx;
                    width: 300rpx;
                    color: $uni-text-color;
                    text-align: right;
                    position: relative;
                    line-height: 64rpx;
                }
                .flex-group {
                    height: 64rpx;
                    color: $uni-text-color;
                    display: flex;
                    flex-direction: column-reverse;
                }

                u-line {
                    flex: none;
                }

                .getcode {
                    color: #A26E15;
                    font-size: 28rpx;
                    font-weight: 500;
                }
            }
        }

        .tips {
            margin-top: 50rpx;
            padding-bottom: 50rpx;
            font-size: 26rpx;
            color: #6c6e70;
            text-align: center;
        }

        .btn-wrap {
            margin-top: 16rpx;
            margin-bottom: 100rpx;
            display: flex;
            justify-content: space-between;

            .btn {
                width: 180rpx;
                height: 60rpx;
                background-color: #2c6ced;
                border-radius: 10rpx;
                line-height: 60rpx;
                text-align: center;
                color: #fff;
            }
            .btn1 {
                border-radius: 16rpx;
                height: 80rpx;
                min-width: 230rpx;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 5rpx 5rpx 5rpx #dfe4e7, -5rpx -5rpx 5rpx #fff;
            }
        }
    }
}