.index-wrapper {
    // min-height: 100vh;
    // background-color: #1D1E1F;

    .body {
        // background-image:url(/static/images/shouye.jpg) ; 
        width: 100%;
        // height: 1624rpx;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0 30rpx;
        position: relative;
        z-index: 2;
        padding-top: 20rpx;

        

        .box-panel {
            // background-color: #fff;
            margin-top: 30rpx;

            // height: 50rpx;
            .data-form-content {
                background-color: #fff;
                border-radius: 10rpx;
                padding: 10rpx 40rpx;

                .check-radio-img {
                    width: 35rpx;
                }

                .agree-title {
                    color: #003e8d;
                    font-size: 28rpx;

                    .agree {
                        color: #21BA80;
                    }
                }
            }

            .in-box {
                // background-color: #fff;  
                padding: 20rpx 0;
                border-bottom: 1px solid rgba(44, 108, 237, 0.8);
                color: #003e8d;
                font-size: 30rpx;
                margin-bottom: 15rpx;

                .select-group {
                    height: 64rpx;
                    color: #9094A0;
                }
                .flex-group {
                    // height: 64rpx;
                    color: $uni-text-color-placeholder;
                    display: flex;
                    flex-direction: column-reverse;
                }

                u-line {
                    flex: none;
                }

                .getcode {
                    color: #A26E15;
                    font-size: 28rpx;
                    font-weight: 500;
                }

                .felx-group {
                    height: 80rpx;
                }
            }
        }

        .tips {
            margin-top: 50rpx;
            padding-bottom: 50rpx;
            font-size: 26rpx;
            color: #6c6e70;
            text-align: center;
        }

        .btn-wrap {
            margin-top: 16rpx;
            display: flex;
            justify-content: space-around;

            .btn {
                width: 280rpx;
                height:90rpx;
                background-color: #fff;
                border-radius: 10rpx;
                line-height: 90rpx;
                text-align: center;
                // color: #fff;
                box-shadow: 5rpx 5rpx 5rpx #dfe4e7, -5rpx -5rpx 5rpx #fff;
            }
            .btn1 {
                font-size: 30rpx;
                border-radius: 16rpx;
                height: 130rpx;
                width: 100%;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 5rpx 5rpx 5rpx #dfe4e7;
            }
        }
    }
}